{{ encore_entry_link_tags('ezgeodatagouv-full-css', null, 'ezplatform') }}

<div id="{{'block-' ~ block_id }}" class="{{ block_class }}" style="{{ block_style|raw }}">
  <geo-finder
    data-siteaccess="{{ ezpublish.siteaccess.name }}"
    data-distance="{{ max_distance }}"
    data-contenttype="{{ contentType }}">
  </geo-finder>
</div>

<script src="{{ asset('bundles/ezplatformadminuiassets/vendors/leaflet/dist/leaflet.js') }}"></script>
<script src="{{ asset('bundles/ezplatformadminuiassets/vendors/react/umd/react.production.min.js') }}"></script>
<script src="{{ asset('bundles/ezplatformadminuiassets/vendors/react-dom/umd/react-dom.production.min.js') }}"></script>
<script src="{{ asset('bundles/ezgeodatagouv/js/geo-finder.js') }}"></script>
